<section class="row">
    <div class="btn-group mx-auto my-3">
    	<div class="col-md-6"><a href="exp" class="btn btn-white btn-animated btn-text">Expense</a></div>
    	<div class="col-md-6"><a href="inc" class="btn btn-white btn-animated btn-text">Income</a></div>
    </div>
</section>