<div class="container-fluid">
    <nav class="navbar col-12 pb-5">
        <ul class="nav col-12 text-center">
            <li class="nav-item col-sm-6 col-md-3 bg-danger rounded-left">
                <a class="nav-link text-light" href="/"><i class="fas fa-balance-scale"></i><h5 class="text-light m-1">Money Balance</h5></a>
            </li>
            <li class="nav-item col-sm-6 col-md-3 bg-warning">
                <a class="nav-link text-light" href="transactions"><i class="fas fa-exchange-alt"></i><h5 class="text-light m-1">Transactions</h5></a>
            </li>
            <li class="nav-item col-sm-6 col-md-3 bg-success">
                <a class="nav-link text-light" href="exp"><i class="far fa-clipboard"></i><h5 class="text-light m-1">Category</h5></a>
            </li>
            <li class="nav-item col-sm-6 col-md-3 bg-info rounded-right">
                <a class="nav-link text-light" href="adding"><i class="fas fa-pencil-alt"></i><h5 class="text-light m-1">Add/Edit</h5></a>
            </li>
        </ul>
    </nav>