* {
    margin: 0;
    padding: 0;
}
html,
body {
    font-size: 67.5%;
    font-family: inherit;
    font-family: 'Coming Soon', cursive;
    font-size: 1rem;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../bkg/back.png) no-repeat center center fixed;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../bkg/back.png) no-repeat center center fixed;
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../bkg/back.png) no-repeat center center fixed;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../bkg/back.png) no-repeat center center fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../bkg/back.png) no-repeat center center fixed;
    -o-background-size: cover;
       background-size: cover;
}
@media only screen and (max-width: 37.5em) {
    html {
      font-size: 65%; 
    } 
}

.coloring-text {
    background-image: -webkit-gradient(linear, left top, right top, from(#3f51b5), to(#d0ddf2));
    background-image: -webkit-linear-gradient(left, #3f51b5, #d0ddf2);
    background-image: -moz-linear-gradient(left, #3f51b5, #d0ddf2);
    background-image: -o-linear-gradient(left, #3f51b5, #d0ddf2);
    background-image: linear-gradient(to right, #3f51b5, #d0ddf2);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .3rem;
    word-spacing: .5rem;
    font-weight: bold;
}

.center-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
             -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
}

.iconBkg {background-color: grey}

#loginBkg,#InfoBkg {
    background-image: -webkit-gradient(linear, left top, right top, from(#093028), to(#237A57));
    background-image: -webkit-linear-gradient(left, #093028, #237A57);
    background-image: -moz-linear-gradient(left, #093028, #237A57);
    background-image: -o-linear-gradient(left, #093028, #237A57);
    background-image: linear-gradient(to right, #093028, #237A57);
    border-radius: 2rem;
}

.nounderline{
    text-decoration: none !important;   
}

/* --- Remove placeholder --- */
input:focus::-webkit-input-placeholder{color: transparent;}
input:focus::-moz-placeholder{color: transparent;}
input:focus:-moz-placeholder{color: transparent;}
textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; } 
textarea:focus::-moz-placeholder { color:transparent; } 
textarea:focus:-ms-input-placeholder { color:transparent;}

/* --- button setings start --- */

.btn,
.btn:link,
.btn:visited {
    text-decoration: none;
    padding: 1.5rem 2.5rem;
    display: inline-block;
    border-radius: 20rem;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    position: relative;
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
}

.btn:hover {
    -webkit-transform: translateY(-0.3rem);
    -moz-transform: translateY(-0.3rem);
     -ms-transform: translateY(-0.3rem);
      -o-transform: translateY(-0.3rem);
         transform: translateY(-0.3rem);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    -moz-transform: scaleX(1.4) scaleY(1.6);
     -ms-transform: scaleX(1.4) scaleY(1.6);
      -o-transform: scaleX(1.4) scaleY(1.6);
         transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn:active,
.btn:focus {
    outline: none;
    -webkit-transform: translateY(-0.1rem);
    -moz-transform: translateY(-0.1rem);
     -ms-transform: translateY(-0.1rem);
      -o-transform: translateY(-0.1rem);
         transform: translateY(-0.1rem);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn-white::after {
    background-color: #fff;
}

.btn-green {
    background-color: #55c57a;
    color: #fff;
}

.btn-green::after {
    background-color: #55c57a;
}

.btn::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 20rem;
    z-index: -1;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.btn-animated {
    -webkit-animation: moveInBottom .5s ease-out .75s;
    -moz-animation: moveInBottom .5s ease-out .75s;
      -o-animation: moveInBottom .5s ease-out .75s;
         animation: moveInBottom .5s ease-out .75s;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
      -o-animation-fill-mode: backwards;
         animation-fill-mode: backwards;
}

.btn-text:link,
.btn-text:visited {
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: .5rem 1.5rem;
    font-size: 1.5rem;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
}

.btn-text:hover {
    background-color: #55c57a;
    color: #fff;
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
     -ms-transform: translateY(-2px);
      -o-transform: translateY(-2px);
         transform: translateY(-2px);
}

.btn-text:active {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
     -ms-transform: translateY(0);
      -o-transform: translateY(0);
         transform: translateY(0);
}

/* --- button setings end --- */

/* jovana */
.table-wrapper-scroll-y {
    display: block;
    max-height: 80vh;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.divdt {
    background-color: lightgreen;
    font-size: 1.2rem;
}

.txttbl {
    font-size: 1.2rem;
}
 
.wrong{
    color: red;
}

.ok{
    color: green;
}
.divreg{
    background-image: linear-gradient(to right, #093028, #237A57);
    border-radius: 2rem;
}
/* Predrag */

.income {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.expense {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.balancTable {
    width: 42%;
}

@media only screen and (max-width: 722px) {
    .wraper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .income {
        margin: 0 auto;
    }

    .expense {
        margin: 0 auto;
    }
}
#divChart {
    position: relative;
    width: 30%;
    height: auto;
}

@media only screen and (max-width: 37.5em) {
    #divChart {
        position: relative;
        width: 100%;
        height: auto;
    } 
}
#divChart2 {
    position: relative;
    width: 50%;
    height: auto;
}
@media only screen and (max-width: 37.5em) {
    #divChart2 {
        position: relative;
        width: 100%;
        height: auto;
    } 
}
