<% include ../partials/header %>
<% include ../partials/navbar %>
<section class="row text-center pt-5">
    <div class="col-12">
        <aside class="col-md-4 offset-md-1 col-sm-6 btn-group p-1">
            <a href="add" class="btn btn-white btn-animated btn-text">Add your spending</a>
        </aside>
        <aside class="col-md-4 offset-md-1 col-sm-6 btn-group p-1">
            <a href="edit" class="btn btn-white btn-animated btn-text">Edit your spending</a>
        </aside>
    </div>
</section>