<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/button %>
<section class="row pb-3">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12">
        <h5 class="text-center py-3 coloring-text">Categories</h5>
        <ul class="nav nav-pills flex-column bg-info border border-primary rounded">
            <% print.forEach((name) => { %>
            <li class="nav-item m-2 border-bottom">
                <img src="<%= name.icons %>" alt="" class=" d-inline p-1 text-left">
                <a class="nav-link text-light d-inline"><%= name.categories_name %></a>
            </li>
            <% }) %>
        </ul>
    </div>
</section>
<section class="row pt-5">
    <div class="col-sm-12 text-center">
        <a id="adding" class="btn btn-white btn-animated btn-text m-1" href="/new">Add new category</a>
        <a id="delete" class="btn btn-white btn-animated btn-text m-1" href="/delCat">Delete category</a>
    </div>
</section>
<% include ../partials/footer %>