<% include ../partials/header %>
<% include ../partials/navbar %>
<div class="row">
    <div class="col-12 text-center p-5">
        <h1 class="font-italic coloring-text" id="text">Add</h1>
    </div>
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 p-5 text-light">
        <form action="/newInput" method="POST" id="form">
            <div class="form-group">
                <label class="text-info" for="date">Select date</label>
                <input class="form-control" type="date" id="date" name="date">
                <div class="invalid-feedback">
                    Must select all fields
                </div>
            </div>
            <div class="form-group">
                <label class="text-info" for="category">Category</label>
                <select class="form-control" id="category">
                    <% print.forEach((name) => { %>
                    <option value="<%= name.categories_id %>">
                        <%= name.categories_name %>
                    </option>
                    <% }) %>
                </select>
            </div>
            <div class="form-group">
                <label class="text-info" for="nubmer">Amount</label>
                <input class="form-control" type="number" id="number" name="number" placeholder="Outcome">
                <div class="invalid-feedback">
                    Must select all fields
                </div>
            </div>
            <div class="form-group">
                <label class="text-info" for="message">Message</label>
                <textarea class="form-control" id="message" rows="3" name="sms" placeholder="Max 300 character"></textarea>
                <div class="invalid-feedback">
                    Must select all fields
                </div>
            </div>
            <button class="btn btn-primary btn-block mt-3" type="submit" id="send">Add</button>
        </form>
    </div>
</div>
<script src="../assets/js/input.js"></script>
<% include ../partials/footer %>